.github-status,
.github-icon-octocat-large,
.github-icon-octocat-small{
    display:inline-block;
    background-size: cover;
}
.github-icon-octocat-large {
  background-image: url('GitHub-Mark-Light-64px.png');
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.github-icon-octocat-small {
    background-image: url('GitHub-Mark-Dark-16px.png');
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.github-input {
    width: 100%;
    padding: 0 3px;
}
#github-oauth-button {
    display: block;
    border-radius: 6px;
    background-color: #5d5d5d;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0 10px 0 5px;
    text-align: center;
    text-decoration: none;
}
#github-oauth-button:hover {
    background-color: #6f6f6f;
}

.github-login-dialog {
    text-align: right;
}

.github-oauth-text {
    margin-left: 5px;
}

.github-login-center-aligned {
    text-align: center;
    margin-top: -5px;
}

.github-login-dialog-error {
    text-align: center;
    background-color: #f2dede;
    color: #b94a48;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 3px 3px 3px 5px;
    max-width: 270px;
    line-height: 1.2;
}

#github-toolbar-button {
	font-family: robotolight, Arial, Helvetica, sans-serif;
	font-size: 1.05em;
	font-weight: lighter;
	background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

#github-toolbar-button.loading {
	content: '';
	width: 26px;
    height: 24px;   
	background-image: url('spinner.svg');
}

#github-toolbar-button.success {
	content: '';
	width: 26px;
    height: 24px;
	background-image: url('Checkmark_green.svg');
}

.github-forkandcommit-content {
    text-align: center;
    font-family: robotolight, Arial, Helvetica, sans-serif;
}
.github-fork-button {
    margin: 0 8px;
    display: inline-block;
    background-color: #f3f3f3;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
}
.github-fork-button:hover {
    background-color: #d6d6d6;
}