.github-status,
.github-icon-octocat-large,
.github-icon-octocat-small{
    display:inline-block;
    background-size: cover;
}
.github-icon-octocat-large {
  background-image: url('GitHub-Mark-Light-64px.png');
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.github-icon-octocat-small {
    background-image: url('GitHub-Mark-Dark-16px.png');
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.github-input,
.github-commit-branches-list input{
    width: 100%;
    padding: 0 3px;
    background-color: #FAFAFA;
    font-family: Roboto, arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: initial;
}
textarea.github-input {
    padding: 4px 3px;
    min-height: 80px;
    max-width: 100%;
}
.github-commit-branches-list {
    line-height: initial;
}
.github-commit-branches-list span.goog-combobox-button {
    display: none;
}
.github-commit-branches-list span.goog-combobox {
    border: none;
}
.github-commit-branches-list .goog-menu-vertical {
    max-height: 138px;
    overflow-x: hidden;
}
.github-commit-branches-list .goog-menuitem {
    padding: 2px 2px 2px 8px;
}
@media only screen and (max-device-width : 1024px) {
    .github-commit-branches-list .goog-menuitem-content {
        font-size: 1.15em !important;
        padding: 5px 0;
    }
}

#github-oauth-button {
    display: block;
    border-radius: 6px;
    background-color: #5d5d5d;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0 10px 0 5px;
    text-align: center;
    text-decoration: none;
    margin-top: 3px;
}
#github-oauth-button:hover {
    background-color: #6f6f6f;
}

.github-login-dialog {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.github-login-dialog label {
    text-align: right;
    display: block;
}
.github-commit-dialog {
    font-family: Roboto, arial, sans-serif;
    color: #3E3E3E;
    width: 450px;
}
@media only screen and (max-width: 550px) {
    .github-login-dialog {
        width: auto;
        max-width: none;
    }
    .github-login-dialog label {
        text-align: left;
    }
    .github-login-dialog input {
        width: 100%;
        display: block;
    }
    .github-commit-dialog {
        width: auto;
    }
}

.github-oauth-text {
    margin-left: 5px;
}

.github-login-center-aligned {
    text-align: center;
    margin-top: -5px;
}

.github-login-dialog-error {
    text-align: center;
    background-color: #FEEBEB;
    color: #b94a48;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 3px 3px 5px;
    line-height: 1.2;
    margin: 0 auto 5px auto;
}

#github-toolbar-button {
	font-family: robotolight, Arial, Helvetica, sans-serif;
	font-size: 1.05em;
	font-weight: lighter;
	background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.github-loading,
#github-toolbar-button.loading {
	content: '';
	width: 26px;
    height: 24px;   
	background-image: url('spinner.svg');
}
#gh-settings-branch-select.github-loading {
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

#github-toolbar-button.success {
	content: '';
	width: 26px;
    height: 24px;
	background-image: url('Checkmark_green.svg');
}

.gh-commit-info-prolog {
    margin-bottom: 10px;
    background-color: lightyellow;
    border: 1px solid #dadab4;
    padding: 6px;
    border-radius: 4px;
}

.gh-commit-info-prolog a {
  background-color: aliceblue;
}

#gh-commit-diag-content {
    text-align: center;
    max-width: 480px;
    line-height: 1.15em;
    overflow: hidden;
}

.gh-commit-diag-choice {
    vertical-align: top;
    padding: 5px 0 0 0;

    text-align: center;
    display: inline-block;
    width: 32.5%;
    margin: 5px 0.5% 5px 0;
    box-sizing: border-box;
    min-height: 85px;

    background-color: #fafafa;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.gh-commit-diag-choice:last-child {
    margin-right: 0;
}

.gh-commit-diag-choice:hover {
    background-color: #f2f2f2;
}

.gh-commit-diag-choice.gh-default-choice {
    border: 1px solid #204d74;
}

.gh-commit-diag-icon {
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    background-position-x: 50%;
}

.gh-commit-fresh {
    background-image: url('git-branch.svg');
}

.gh-commit-overwrite {
    background-image: url('git-commit.svg');
}

.gh-commit-merge {
    background-image: url('git-merge.svg');
}

.gh-commit-cancel {
    background-image: url('x.svg');
}

.gh-commit-diag-title {
    font-size: 1em;
    margin: 5px 0 2px 0;
}

.gh-commit-diag-descripion {
    padding: 0 5px;
}
#gh-settings-branch-select {
    line-height: 1.5em;
    padding: 2px;
    box-sizing: border-box;
    min-width: 100px;
}

.gh-config-dialog {
    text-align: left;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
}
.github-repo-edit {
    background-size: 16px 16px;
    position: absolute;
    right:0;
    padding-right: 5px;
    height: 100%;
    width: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVR42mNgGBKgoKAgAYj/Q3ECJZrBmCLNRBuASzNRXhhemj8AsQExmgWA+ABZmpEMUQDiC+RqBtnugOQVA1JTG8jWCVCvbIAaCKIboDgAZAFWg////08RptgAAMDo/Jm25cdCAAAAAElFTkSuQmCC) no-repeat 50% 50%;
    border-color: #ccc;
}

.github-browsing-repo-preview:hover > .github-repo-edit {
    background-color: lightgrey;
}

.github-browsing-repo-preview {
	white-space: nowrap;
}
.repo-icon {
    background: url('repo.svg');
    background-size: 12px 16px;
    width: 12px;
}
.branch-icon {
    background: url('git-branch.svg');
    background-size: 9px 16px;
    width: 9px;
}
.branch-icon,
.repo-icon {
    margin: 0 5px;
    display: inline-block;
    opacity: 0.5;
    height: 16px;
    background-repeat: no-repeat;
}


.github-repo-right {
    position: absolute;
    right: 30px;
    max-width: 40%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.github-repo-preview-area > .github-repo-placeholder {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    width: 100%;
    text-align: center;
    margin-top: -10px;
}
.github-repo-preview-area {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
    border: 1px solid #c8c1c1;
    padding: 5px;
}

.github-repo-ac {
    position: relative;
    z-index: 1;
}
.github-repo-ac > input {
    border-radius: 0;
    width: 100%;
}
.github-repo-ac > .ac-renderer {
    max-height: 200px;
    overflow: auto;
    -webkit-touch-overflow: scroll;
    box-sizing: border-box;
    width: 100%;
}
.github-error-icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background: no-repeat 50% 50%;
    background-image: url("../../app/images/Error16.png");
    display:inline-block;
    margin-right: 5px;
}

.github-file-icon,
.big-branch-icon,
.big-repo-icon {
    height: 32px;
    display: inline-block;
    opacity: 0.5;
    margin-right: 5px;
}
.github-file-icon{
    background: url('file.svg');
    background-size: 18px 32px;
    width: 18px;
    margin-left: 3px;
    margin-right: 8px;
}
.big-repo-icon {
    background: url('repo.svg') no-repeat;
    background-size: 24px 32px;
    width: 24px;
}
.big-branch-icon {
    background: url('git-branch.svg') no-repeat;
    background-size: 18px 32px;
    width: 18px;
    margin-left: 3px;
    margin-right: 8px;
}
.github-description-preview {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: italic;
}
.github-repo-section {
    margin-bottom: 5px;
}
@media only screen and (max-width: 550px) {
    .github-repo-right {
        display: none;
    }
}
