<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.sdksamples.github.GitHubPlugin"
 name="GitHubPlugin"
 description="WebApp GitHub connector"
 version="${project.version}"
 vendor="SyncRO"
 class="com.oxygenxml.sdksamples.github.GitHubPlugin">
 <runtime>
  <librariesFolder name="lib"/>
 </runtime>
 
 <extension type="URLHandler" 
    class="com.oxygenxml.sdksamples.github.GithubURLStreamHandlerPluginExtension"/>
 <extension type="WebappServlet" 
    class="com.oxygenxml.sdksamples.github.GitHubOauthServlet"/>
 <extension type="WebappStaticResourcesFolder" path="web/static/" href="github-static"/>
 <extension type="WebappServlet" role="config"
    class="com.oxygenxml.sdksamples.github.GithubPluginConfigExtension"/>
</plugin>
