
.goog-char-picker {
  padding-left: 10px;
  padding-right: 10px;
}

/* goog.ui.HoverCard */
.goog-char-picker-hovercard {
  border: solid 2px #337ab7;
  min-width: 50px;
  max-width: 160px;
  padding: 5px;
  background-color: white;
  text-align: center;
  position: absolute;
  visibility: hidden;
  z-index: 99;
}

.goog-char-picker-name {
  font-size: x-small;
}

.goog-char-picker-unicode {
  font-size: x-small;
  color: GrayText;
}

.goog-char-picker-char-zoom {
  font-size: xx-large;
}

/*
 * grid
 */
.goog-char-picker-grid-container {
  border: 1px solid #777;
  background-color: #fff;
  width: 370px;
  height: 280px;
  margin-bottom:10px;
}

.goog-char-picker-grid {
  overflow-y: scroll;
  height: 280px;
  width: 100%;
  position: relative;
}

.goog-stick {
  display: none;
}
.goog-stickwrap {
  display: none;
}

.goog-char-picker-recents {
  display: none;
}

.goog-char-picker-notice {
  display: none;
}

/*
 * Hex entry
 */

.goog-char-picker-uplus {
  font-size: 20px;
}

.goog-char-picker-input-box {
  width: 96px;
  font-size: 20px;
  height: 28px;
}

.label-input-label {
  color: GrayText;
}

.goog-char-picker-okbutton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.goog-char-picker-okbutton:focus,
.goog-char-picker-okbutton:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.goog-char-picker-okbutton:hover,
.goog-char-picker-okbutton:focus {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
}

/*
 * Grid buttons
 */
.goog-char-picker-grid .goog-flat-button {
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.goog-char-picker-grid .goog-flat-button-hover,
.goog-char-picker-grid .goog-flat-button-focus {
  background-color: #337ab7;
  color: white;
}

/*
 * goog.ui.Menu
 */

/* State: resting. */
.goog-char-picker-button {
  border-width: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  background-position: center left;
}

/* State: resting. */
.goog-char-picker-menu {
  background-color: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  max-height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*
 * goog.ui.MenuItem
 */

/* State: resting. */
.goog-char-picker-menu .goog-menuitem {
  color: #000;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 10ex on the right for shortcut. */
  padding: 1px 32px 1px 8px;
  white-space: nowrap;
}

.goog-char-picker-menu .goog-subtitle {
  color: #fff !important;
  background-color: #666;
  font-weight: bold;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 10ex on the right for shortcut. */
  padding: 3px 32px 3px 8px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
.goog-char-picker-menu .goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding: 2px 16px 2px 32px !important;
}

/* State: hover. */
.goog-char-picker-menu .goog-menuitem-highlight {
  background-color: #d6e9f8;
}
/*
 * goog.ui.MenuSeparator
 */

/* State: resting. */
.goog-char-picker-menu .goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 2px 0;
  padding: 0;
}


.char-select-this-button:hover {
  background-color: #d6e9f8;
}

.goog-menu-button {
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px 5px 3px 1px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}
.goog-menu-button:hover {
  background-color: #e6e6e6;
}
.goog-menu-button.goog-menu-button-open {
  background-color: #d4d4d4;
}
.goog-menu-button-dropdown {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/* Pseudo-rounded corners. */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}
.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 6px 8px;
}
/* span for "recent characters" */
.goog-char-picker span:nth-child(5){
    display: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#pickermenu {
  padding: 0px;
}

/* media query for the iframe contents when the screen is less than 480px height */
@media (max-height: 300px) {
  .goog-char-picker-grid {
    height: 180px;
  }
  .goog-char-picker-grid-container {
    height: 180px;
  }
  .goog-menu-button-inner-box {
    padding: 3px 4px;
  }
  .goog-char-picker-menu {
    height: 160px;
  }
}
