/*
 * grid
 */
.char-select-button:hover {
    background-color: #d6e9f8;
}

#simplePickerGrid .recentCharactersGrid {
    height: 130px;
    width: 198px;
    font-size: 1.5em;
    margin-bottom: 0px;
}
#simplePickerGrid .goog-flat-button {
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    outline: none;
}
#simplePickerGrid {
    overflow: hidden;
    height: auto;
    width: 231px;
    margin: 0px;
    position: relative;
}

#charpickeriframe {
    width:400px;
    height:400px;
    border:none;
}
#special_characters {
    margin-left: 10px;
    font-size: 24px;
    width: 200px;
    height: 35px;
}
#removeLastChar {
    vertical-align: top;
    height: 41px;
    width: 50px;
    margin-left: 2px;
    background-image: url('backwardDelete.svg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}
#removeLastChar:focus,
#removeLastChar:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#removeLastChar:hover,
#removeLastChar:focus {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
}

#pickermenu {
    padding: 0px;
}

#moreSymbolsButton {
    margin-top: 2px;
    border-top: 1px solid #e6e6e6;
    padding: 5px 20px 4px 20px;
}

@media (max-height: 560px) {
    #charpickeriframe {
        height: 270px;
    }
    #charPicker {
        padding: 6px 12px;
    }
    #moreSymbolsButton .goog-menuitem-content{
        font-size: 1.1em;
    }
}

@media (max-width: 600px) {
    #charPicker {
        padding: 6px 6px;
    }
    #moreSymbolsButton .goog-menuitem-content{
        font-size: 1.1em;
    }
}