/*
 * grid
 */
.char-select-button:hover {
    background-color: #d6e9f8;
}

#simplePickerGrid .recentCharactersGrid {
    height: 130px;
    width: 198px;
    font-size: 1.5em;
    margin-bottom: 0px;
}
#simplePickerGrid .goog-flat-button {
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    outline: none;
    vertical-align: top;
}
#simplePickerGrid {
    overflow: hidden;
    height: auto;
    width: 231px;
    margin: 0px;
    position: relative;
}

.dialogContainer {
    max-width: 436px;
}

#charpickeriframe {
    width: 100%;
    height: 100%;
    border:none;
}

#special_characters {
    margin-left: 10px;
    width: 184px;
}

#removeLastChar {
    vertical-align: top;
    height: 34px;
    width: 40px;
    margin-left: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('../BackwardDelete.svg');
    background-size: 60% 90%;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}
#removeLastChar:focus,
#removeLastChar:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#removeLastChar:hover,
#removeLastChar:focus {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
}

#pickermenu {
    padding: 0px;
}

#moreSymbolsButton {
    margin-top: 2px;
    border-top: 1px solid #e6e6e6;
    padding: 5px 20px 4px 20px;
}

.goog-char-picker-okbutton {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 12px;
    margin-bottom: 0;
    margin-left: 2px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.goog-char-picker-okbutton:focus,
.goog-char-picker-okbutton:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.goog-char-picker-okbutton:hover,
.goog-char-picker-okbutton:focus {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
}

.tabsContainer {
    width: 100%;
    height: 400px;
}

.tabsContainer ul,
.tabsContainer li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabsContainer,
.tabsContainer input[type="radio"]:checked + label {
    position: relative;
}

.tabsContainer li,
.tabsContainer input[type="radio"] + label {
    display: inline-block;
}

.tabsContainer li > div,
.tabsContainer input[type="radio"] {
    position: absolute;
}

.tabsContainer li > div {
    border-top: solid 1px #ccc;
}

.tabsContainer li {
    vertical-align: top;
}

.tabsContainer li:first-child {
    margin-left: 8px;
}

.tabsContainer li > div {
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tabsContainer input[type="radio"] + label {
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid lightgray;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tabsContainer input[type="radio"]:checked + label
{
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}

.tabsContainer input[type="radio"] {
    opacity: 0;
}

.tabsContainer input[type="radio"] ~ div {
    display: none;
}

.tabsContainer input[type="radio"]:checked:not(:disabled) ~ div
{
    display: block;
}

.charpicker-input {
    font-size: 20px;
    height: 34px !important;
}

#foundByNameList {
    width: 100%;
    width: calc(100% - 2px);
    height: 200px;
    overflow-y: scroll;
    margin-top: 5px;
    border: 1px solid lightgrey;
}

.characterListRow:hover {
    background-color: #d6e9f8;
}

.characterListSymbol {
    display: inline-block;
    font-size:2em;
    width: 51px;
    height: 51px;
    line-height: 52px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.characterListSymbol:hover {
    background-color: #d6e9f8;
}

#previewCharacterDetails {
    margin-top: 15px;
}

#previewSymbol {
    width: 60px;
    height: 60px;
    line-height: 62px;
    font-size: 3em;
    display: inline-block;
    border:1px solid lightgrey;
    text-align: center;
    overflow: hidden;
}

#previewSymbolName {
    padding-left: 10px;
    display: inline-block;
    width: 280px;
    vertical-align: top;
    line-height: 1.2em;
}

#searchName {
    width: 100%;
}

#searchNameButton {
    display: none;
    line-height: 1.3em;
    vertical-align: baseline;
}

#charpicker-search-by-name {
    padding: 8px 0px 8px 0px;
    overflow: hidden;
}

#charpicker-advanced {
    padding: 8px 0px 8px 0px;
    overflow: hidden;
}

@media (max-height: 560px) {
    #charpickeriframe {
        height: 250px;
    }

    #moreSymbolsButton .goog-menuitem-content{
        font-size: 1.1em;
    }

    #previewCharacterDetails {
        display: none;
    }

    .tabsContainer {
        height: 280px;
    }

    #charpicker-search-by-name {
        padding: 8px 0px;
    }

    .tabsContainer li > div {
        padding: 0px;
    }

    #foundByNameList {
        height: 160px;
    }
}

@media (max-width: 350px) {
    .tabsContainer input[type="radio"] + label {
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    .low-width-hide {
        display: none;
    }

    #previewCharacterDetails {
        display: none;
    }

    #foundByNameList {
        height: 150px;
    }

    .tabsContainer {
        height: 280px;
    }

    #charpicker-advanced {
        padding: 8px 0px 0px 0px;
        overflow: hidden;
    }

    #special_characters {
        margin-left: 0px;
        width: 80%;
    }

    #removeLastChar {
        width: 18%;
        margin-left: 2%;
    }
}
